    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h3>SKILL</h3></br>
                <ul>
                    <li>language: Ruby, Visaul Basic</li>
                    <li>back-end: Ruby on Rails, ASP.net</li>
                    <li>front-end: Html, CSS, Javascript, JQuery, Bootstrap</li>
                    <li>platform: Heroku, AWS</li>
                    <li>others: Git</li>
                </ul>
                <h3>PROJECT</h3></br>
                <ul>
                    <li>CJBLOG (2015)</li>
                    <li>HowToMeet (2014)</li>
                    <li>NTUGSA (2014)</li>
                    <li>JGroup (2014)</li>
                </ul>
                <h3>COMMUNITY</h3></br>
                <ul>
                    <li>Rails rookie camp</li>
                </ul>
                <h3>EXPERIENCE</h3></br>
                <ul>
                    <li>中華民國替代役幹訓班 區隊長 (2014-2015)</li>
                    <li>NTHU DIT Robotics manager (2014)</li>
                    <li>TEDxNTHU Curator (2013)</li>
                </ul>
                <h3>EDUCATION</h3></br>
                <ul>
                    <li>NTHU ESS B.S</li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
