            <% content_for :breadcrumb do %>
                <ol class="breadcrumb">
                    <li><a href="<%=root_path%>">邁向奇點</a></li>
                    <li class="active">關於我</li>
                </ol> <!-- end of /.breadcrumb -->
            <% end %>
                <!-- begin our designation section -->

                <section class="bg-light-gray designation">
                    <div class="container">

                        <div class="team-list">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member-box text-center">
                                            <img src="/images/about/avatar.jpg" class="img-responsive center-block" alt="team-member 3">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>Juin Chiu</h4>
                                                    <p>Programmer</p>
                                                    <p>做一個堅持不懈的學徒</p>
                                                </div> <!-- end of /.team-member-about -->
                                                <div class="team-member-social">
                                                    <a href="https://www.facebook.com/juin.chiu" title="facebook">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    
                                                    <a href="https://github.com/davidjuin0519" title="github">
                                                        <i class="fa fa-github"></i>
                                                    </a>
                                                    
                                                    <a href="/Juin_Chiu_CV.pdf" title="CV">
                                                        <i class="fa fa-file-pdf-o"></i>
                                                    </a>
                                                </div> <!-- end of /.team-member-social -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>
                                    <div class="col-md-9 text-center">

                              <div class="row" style="margin-top:50px;">
                                <div class="col-md-4 col-xs-4">
                                  <a href="#" id="to_experiences">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block">
                                                <i class="fa fa-suitcase"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">簡歷</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>

                                <div class="col-md-4 col-xs-4">
                                  <a href="#" id="to_skills">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block">
                                                <i class="fa fa-wrench"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">技能</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>

                                <div class="col-md-4 col-xs-4">
                                  <a href="#" id="to_interests">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">興趣</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                              </div>
                                  <p class="story-description" style="font-size:15px;">
                                      技術樂觀主義者。<br/>
                                      23歲時才開始自學，立志成為出色的軟體工程師。<br/>期望人類能夠很快迎向人工智慧的奇點。<br/>
                                      我遊走於各種極端之間。<br/>
                                      時而衣冠楚楚，時而不修邊幅；<br/>
                                      可以花三個月奔波創辦組織，也可以花三個月閉關鑽研技術；<br/>
                                      曾經因掌聲而自滿，也曾經因迷失而自卑。<br/>
                                      但從來不曾放棄，<br/>
                                      只為做一個堅持不懈的學徒。
                                  </p> <!-- /.story-description -->

                                  </div>
                                </div>
                            </div>
                        </div> <!-- end of /.team-list -->
                    </div>
                </section>
                 <!-- end of designation section -->

                 <!-- begin skill section -->
<section id="experiences" class="bg-light-gray">
<div class="container">
  <div class="page-header">
    <h1 id="timeline">簡歷</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge danger">2015</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">區隊長</h4>
          <span>中華民國替代役幹訓隊</span>
          <img src="/images/about/sms.jpg" class="img-responsive center-block">
        </div>
        <div class="timeline-body">
          <p>
            入替代役幹訓隊服役，這一年當中，我交了些朋友、讀了一些書、培養對運動的喜好、訓練工作能力、更加了解自己，並且對組織管理有更深入的認識。
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning">2014</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">公關組長</h4>
          <span>DIT Robotics</span>
          <img src="/images/about/DIT.jpg" class="img-responsive center-block">
        </div>
        <div class="timeline-body">
          <p>
            與幾個朋友在清大共同創立DIT Robotics，這個團隊的主要目標是製造一台機器人去歐洲參賽。同時，我也獨立製做遙控車與機械手。歷經6個月在黑暗中摸索機器人的日子，倒也讓我有些心得，並更加確定自己的志向。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info">2013</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">策展人</h4>
          <span>TEDxNTHU</span>
          <img src="/images/about/TEDxNTHU.jpg" class="img-responsive center-block">
        </div>
        <div class="timeline-body">
          <p>
            在清大以學生策展人身份創辦TEDxNTHU並籌劃年會，帶起了一股議題討論的風潮。
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success">2008</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">工程與系統科學系</h4>
          <span>國立清華大學</span>
        </div>
        <div class="timeline-body">
          <p>
            接受工程思維的訓練，同時受各種知識薰陶，意外的愛上歷史與哲學。
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
</section>

                <section class="bg-light-gray skill" id="skills">
                    <div class="container">
                      <h1>技能</h1>
                      <hr/>
                        <div class="row">
                            <div class="col-md-6">
                              <h3>軟體開發</h3>
                                <div class="skill-level">
                                    <p>Ruby</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                         </div>
                                    </div>

                                    <p>Rails</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                         </div>
                                    </div>

                                    <p>javascript</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                         </div>
                                    </div>

                                </div> <!-- /.skill-level -->
                            </div>
                            <div class="col-md-6">
                              <h3>其他能力</h3>
                                <div class="skill-level">
                                    <p>專注力</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                         </div>
                                    </div>
                                    <p>學習力</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                         </div>
                                    </div>
                                    <p>表達力</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                         </div>
                                    </div>
                                </div> <!-- /.skill-level -->
                            </div>
                        </div>
                    </div>
                </section>

                <section id="interests" class="bg-light-gray">
                    <div class="container">
                      <h1>興趣</h1>
                      <hr/>
                        <div class="row">
                                <div class="col-md-3 col-xs-6">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-comment-o"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">認知科學</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-cogs"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">機器學習</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-male"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">人工智慧</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-bicycle"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">自行車</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                        </div>
                    </div>
                </section>
<script>
  $(function() {
    $('#to_experiences').click(function() {
      var top_offset = $('#experiences').offset().top - 20;
      $('body').animate({
              scrollTop: top_offset
          }, 600, 'swing');
    });
    $('#to_skills').click(function() {
      var top_offset = $('#skills').offset().top - 20;
      $('body').animate({
              scrollTop: top_offset
          }, 600, 'swing');
    });
    $('#to_interests').click(function() {
      var top_offset = $('#interests').offset().top - 20;
      $('body').animate({
              scrollTop: top_offset
          }, 600, 'swing');
    });
  });
</script>