            <% content_for :breadcrumb do %>
                <ol class="breadcrumb">
                    <li><a href="<%=root_path%>">邁向奇點</a></li>
                    <li class="active">關於我</li>
                </ol> <!-- end of /.breadcrumb -->
            <% end %>
                <!-- begin our designation section -->

                <section class="bg-white designation">
                    <div class="container">

                        <div class="team-list">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="team-member-box text-center">
                                            <img src="/images/avatar.jpg" class="img-responsive center-block" alt="team-member 3">
                                            <div class="team-member-description">
                                                <div class="team-member-about">
                                                    <h4>Juin Chiu</h4>
                                                    <p>Programmer</p>
                                                </div> <!-- end of /.team-member-about -->
                                                <div class="team-member-social">
                                                    <a href="https://www.facebook.com/juin.chiu">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </div> <!-- end of /.team-member-social -->
                                            </div> <!-- end of /.team-member-description -->
                                        </div> <!-- end of /.team-member-box -->
                                    </div>
                                    <div class="col-md-9 text-center">
                                      <h2 class="section-title">做一個堅持不懈學徒</h2>

                              <div class="row" style="margin-top:50px;">
                                <div class="col-md-4">
                                  <a href="#" id="to_experiences">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block">
                                                <i class="fa fa-suitcase"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">簡歷</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>

                                <div class="col-md-4">
                                  <a href="#" id="to_skills">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block">
                                                <i class="fa fa-wrench"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">技能</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>

                                <div class="col-md-4">
                                  <a href="#" id="to_interests">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">興趣</h3>
                                            <p class="service-description">
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                              </div>
                                      <p class="story-description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elit eu ipsum aliquam mattis ac eget tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum at neque sed lobortis. Fusce hendrerit in erat a ullamcorper. Donec tincidunt ornare rutrum. Vestibulum quis risus vitae velit vulputate tristique. Donec nec tortor metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque blandit mauris in orci iaculis, non fermentum nisl.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elit eu ipsum aliquam mattis ac eget tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum at neque sed lobortis. Fusce hendrerit in erat a ullamcorper. Donec tincidunt ornare rutrum. Vestibulum quis risus vitae velit vulputate tristique. Donec nec tortor metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque blandit mauris in orci iaculis, non fermentum nisl.
                                      </p> <!-- /.story-description -->
                                  </div>
                                </div>
                            </div>
                        </div> <!-- end of /.team-list -->
                    </div>
                </section>
                 <!-- end of designation section -->

                 <!-- begin skill section -->
<section id="experiences">
<div class="container">
  <div class="page-header">
    <h1 id="timeline">簡歷</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge danger">2015</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">區隊長</h4>
          <span>中華民國替代役幹訓隊</span>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning">2014</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">公關組長</h4>
          <span>DIT Robotics</span>
        </div>
        <div class="timeline-body">
          <p>Eurobot</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info">2013</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">策展人</h4>
          <span>TEDxNTHU</span>
        </div>
        <div class="timeline-body">
          <p>是誰在創造任意門</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success">2008</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">工程與系統科學系</h4>
          <span>國立清華大學</span>
        </div>
        <div class="timeline-body">
          <p></p>
        </div>
      </div>
    </li>
  </ul>
</div>
</section>

                <section class="bg-light-gray skill" id="skills">
                    <div class="container">
                      <h1>技能</h1>
                      <hr/>
                        <div class="row">
                            <div class="col-md-6">
                              <h3>軟體開發</h3>
                                <div class="skill-level">
                                    <p>Ruby</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                         </div>
                                    </div>

                                    <p>Rails</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                         </div>
                                    </div>

                                    <p>javascript</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                         </div>
                                    </div>

                                </div> <!-- /.skill-level -->
                            </div>
                            <div class="col-md-6">
                              <h3>其他能力</h3>
                                <div class="skill-level">
                                    <p>毅力</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                         </div>
                                    </div>
                                    <p>表達力</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                         </div>
                                    </div>
                                    <p>體力</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                         </div>
                                    </div>
                                </div> <!-- /.skill-level -->
                            </div>
                        </div>
                    </div>
                </section>

                <section id="interests">
                    <div class="container">
                      <h1>興趣</h1>
                      <hr/>
                        <div class="row">
                                <div class="col-md-3">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-comment-o"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">認知科學</h3>
                                            <p class="service-description">
                                                Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                                <div class="col-md-3">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-cogs"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">機器學習</h3>
                                            <p class="service-description">
                                                Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                                <div class="col-md-3">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-male"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">人工智慧</h3>
                                            <p class="service-description">
                                                Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                                <div class="col-md-3">
                                  <a href="#">
                                    <div class="service-content text-center">
                                        <div class="service-icon-box">
                                            <div class="service-icon center-block rectangle">
                                                <i class="fa fa-bicycle"></i>
                                            </div>
                                        </div> <!--  end of .service-icon-box  -->
                                        <div class="service-info">
                                            <h3 class="service-heading">自行車</h3>
                                            <p class="service-description">
                                                Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.
                                            </p> 
                                        </div> <!--   end of .service-info  -->
                                    </div> <!--  end of .service-content  -->
                                  </a>
                                </div>
                        </div>
                    </div>
                </section>
<script>
  $(function() {
    $('#to_experiences').click(function() {
      var top_offset = $('#experiences').offset().top;
      $('body').animate({
              scrollTop: top_offset
          }, 600, 'swing');
    });
    $('#to_skills').click(function() {
      var top_offset = $('#skills').offset().top;
      $('body').animate({
              scrollTop: top_offset
          }, 600, 'swing');
    });
    $('#to_interests').click(function() {
      var top_offset = $('#interests').offset().top;
      $('body').animate({
              scrollTop: top_offset
          }, 600, 'swing');
    });
  });
</script>